localhost certificate verify failed

I use the ca and cert which defined in file `https://github.com/Tencent/TencentKonaSMSuite/blob/master/kona-ssl/src/test/java/com/tencent/kona/ssl/demo/TLSWithJettyDemo.java` with Tongsuo demo, but a exception happened:
`java.security.cert.CertificateException: No subjectAltNames on the certificate match`. Do you have any suggestion please?


`TLSWithJettyDemo` just uses Jetty as server and client, so it has nothing to do with Tongsuo.

Did you use only the certs and keys from `TLSWithJettyDemo` with Toungsuo endpoints, exactly s_server and s_client?
But the below exception should be raised from Java side.
```
java.security.cert.CertificateException: No subjectAltNames on the certificate match
```

Could you please unveil more details about your case?
Did you use Java as the server and Tongsuo as the client?
And did the server enable the client authentication?

thanks very much for your information, I will check it again.


Does KonaShangMi implement RFC2818 protocal？https://www.ietf.org/rfc/rfc2818.txt. This protocal request client to verify host name.


Yes, it does support RFC 2818.
For this case, the endpoint identification algorithm should be `HTTPS`.
```
SSLParameters.setEndpointIdentificationAlgorithm("HTTPS")
```

I think some Java components may verify that by default or via some builtin configurations.
The peer certificates must be matched with the specific domain patterns or IPs.

I discover that there are no `Subject Alternative Names` in the certificate `https://github.com/Tencent/TencentKonaSMSuite/blob/master/kona-ssl/src/test/java/com/tencent/kona/ssl/demo/TLSWithJettyDemo.java`
<img width="631" alt="image" src="https://github.com/Tencent/TencentKonaSMSuite/assets/54900261/abc37421-dc4d-4410-a830-a2e22a9b5f4f">, 
but the demo `TLSWithJettyDemo` is passed in kona shangmi suit, while failed in our security provider. 
<img width="648" alt="image" src="https://github.com/Tencent/TencentKonaSMSuite/assets/54900261/7124d318-0cf5-4bf2-9600-d34b23f714c1">



Based on the exception stacks provided by Google Conscrypt, it appears that the issue is likely related to the CA rather than the server certificate.

Indeed, the common name of the CA is not `localhost`, but `intca-sm2sm2-sm2sm2`. And it has no subAltNames for IPs.

But with my understand, RFC 2818 just focus on the endpoints, including server and client. But it does NOT concern the identity of the CAs.

In my opinion, when client side verify the certificate from server side, client didn't find a subAltNames with the field `localhost`, so it throws an exception. When we create a certificate with subAltNames field `localhost`, it can pass in our security provider.

In my opinion, if the common name is `localhost`, the identification check should pass. If not, the verifier might attempt to find the `subjectAlternativeNames` extension.

To be honest, I have never used Google Conscrypt and haven't delved into its codes.
It's possible that this component has some unique logic.

Could you please debug the code?
I'm curious about which certificate is causing the issue - is it the server certificate or the CA?

Here is the verification file. https://github.com/google/conscrypt/blob/master/common/src/main/java/org/conscrypt/OkHostnameVerifier.java
<img width="1206" alt="image" src="https://github.com/Tencent/TencentKonaSMSuite/assets/54900261/10f72605-a94e-4d58-aae6-0c50ab2b4bfd">


I suppose `certs[0]` is the server certificate and host is `localhsot`. Right?
<img width="675" src="https://github.com/Tencent/TencentKonaSMSuite/assets/20450620/02800873-ee10-4137-8879-78887db802d7">

Then, it should try to check if a DNS name from SubjectAltNames matches the hostname.
<img width="663" src="https://github.com/Tencent/TencentKonaSMSuite/assets/20450620/f65d8198-8243-42c5-9cbd-4fa833fc4a73">
Certainly, no SubjectAltNames extension is available in the server certificate.
So, the validation must be failed.

Per RFC 2818 [section 3.1],
```
If a subjectAltName extension of type dNSName is present, that MUST
   be used as the identity. Otherwise, the (most specific) Common Name
   field in the Subject field of the certificate MUST be used. Although
   the use of the Common Name is existing practice, it is deprecated and
   Certification Authorities are encouraged to use the dNSName instead.
```

With my understanding, if `SubjectAltNames` is absent, `Common Name` can be used.
Although `SubjectAltNames` is recommended, it is NOT mandatory.

It may be necessary to escalate this issue to Google Conscrypt.

[section 3.1]:
<https://datatracker.ietf.org/doc/html/rfc2818#section-3.1>

I agree with you. I will report a issue to google conscrypt later.

https://github.com/google/conscrypt/issues/1145

> [google/conscrypt#1145](https://github.com/google/conscrypt/issues/1145)

I went through this issue and checked some certificates from some popular websites.
These certificates really contains `Subject Alternative Name` extension, like the below,

```
X509v3 Subject Alternative Name: 
    DNS:github.com, DNS:www.github.com
```

But some certificates, especially the certificates issued by some organization-private CAs, don't have that extension.
In addition, OpenJDK and OpenSSL may not require that extension.
So, I won't change this point.