Support RFC 5915-compliant encoded private key

生成过程如下：
```
# babassl8.3.2 version
BabaSSL 8.3.2
OpenSSL 1.1.1h  22 Sep 2020
# babassl8.3.2 ecparam -genkey -name SM2 -out ec.key
# babassl8.3.2 ec -in ec.key -pubout -out ec-public.key
read EC key
writing EC key
# cat ec.key 
-----BEGIN EC PARAMETERS-----
BggqgRzPVQGCLQ==
-----END EC PARAMETERS-----
-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIJPYrJuFnsNBPp5HovAP2/jjQHvA3tbA9FwACbZ48+JzoAoGCCqBHM9V
AYItoUQDQgAEzjVFX3F4dmFrIVEsYPyqkTN0dghNQBhX7+GoNb4VlZ4CKYAIvA3u
soMcJ/sw48/pViPELbWu/LAKWbRmbl8gbA==
-----END EC PRIVATE KEY-----
# cat ec-public.key 
-----BEGIN PUBLIC KEY-----
MFkwEwYHKoZIzj0CAQYIKoEcz1UBgi0DQgAEzjVFX3F4dmFrIVEsYPyqkTN0dghN
QBhX7+GoNb4VlZ4CKYAIvA3usoMcJ/sw48/pViPELbWu/LAKWbRmbl8gbA==
-----END PUBLIC KEY-----
```

[RFC 5915] section 3

```
   ECPrivateKey ::= SEQUENCE {
     version        INTEGER { ecPrivkeyVer1(1) } (ecPrivkeyVer1),
     privateKey     OCTET STRING,
     parameters [0] ECParameters {{ NamedCurve }} OPTIONAL,
     publicKey  [1] BIT STRING OPTIONAL
   }
```

[RFC 5915]:
<https://www.rfc-editor.org/rfc/rfc5915>

对于公钥，#145 应该已经支持了。